In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv("temp_data.csv")

In [3]:
df.head(20)

,SentAt,StartedAt,Control,Sad,Intrusion,Encourage,FunThings,IgotThis,Company,Alone,...,Out,Eaten,Avoid,Useful,Enjoy,Pleas,Pleasant,Unpl,Unpleasant,Remarks
0,15/03/2017 16:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16/03/2017 09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16/03/2017 15:12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16/03/2017 15:30,16/03/2017 15:30,70.00,42.02,76.74,59.38,35.54,81.14,0.0,24.92,...,66.63,61.97,20.52,41.50,79.85,1.0,50.83,1.0,46.68,NaN
4,16/03/2017 21:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,17/03/2017 09:00,17/03/2017 09:17,17.53,18.74,16.93,81.39,82.59,82.19,1.0,16.93,...,87.41,69.84,2.17,87.11,77.77,1.0,88.92,0.0,NaN,NaN
6,17/03/2017 15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,17/03/2017 21:00,17/03/2017 21:05,26.87,27.07,30.18,69.34,54.88,45.44,1.0,19.64,...,62.31,31.39,2.17,50.96,54.48,1.0,73.56,1.0,71.65,NaN
8,18/03/2017 09:00,18/03/2017 09:11,4.78,2.27,10.00,88.62,77.77,79.28,1.0,0.00,...,1.97,51.16,2.87,22.05,70.84,1.0,65.52,0.0,NaN,NaN
9,18/03/2017 15:00,18/03/2017 15:07,1.46,0.00,2.47,82.89,82.69,82.79,1.0,3.07,...,84.00,82.69,1.27,59.60,84.30,1.0,88.31,0.0,NaN,NaN
10,18/03/2017 21:00,18/03/2017 21:15,10.20,10.00,12.31,88.01,77.67,80.58,1.0,4.78,...,89.82,72.65,0.55,54.68,76.87,1.0,82.89,0.0,NaN,NaN
11,19/03/2017 09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,19/03/2017 15:00,19/03/2017 15:03,14.12,14.32,13.21,82.99,82.89,81.69,1.0,1.47,...,75.36,76.07,3.37,35.80,82.09,1.0,85.60,0.0,NaN,NaN
13,19/03/2017 21:00,19/03/2017 21:14,9.70,9.10,10.90,81.39,78.78,79.28,1.0,4.88,...,52.87,22.35,6.69,48.76,50.36,1.0,68.23,0.0,NaN,NaN
14,20/03/2017 09:00,20/03/2017 09:13,11.60,22.45,11.81,61.84,30.87,60.90,1.0,13.11,...,4.08,50.06,5.58,21.15,50.66,1.0,49.76,1.0,48.25,NaN
15,20/03/2017 15:00,20/03/2017 15:29,13.62,15.42,16.03,76.87,75.36,68.13,0.0,10.90,...,98.66,74.36,2.17,80.38,80.18,1.0,77.47,0.0,NaN,NaN
16,20/03/2017 21:00,20/03/2017 21:20,9.09,24.76,8.80,71.05,33.70,69.81,1.0,11.20,...,42.73,16.22,2.27,37.01,78.18,1.0,47.88,0.0,NaN,NaN
17,21/03/2017 09:00,21/03/2017 09:11,9.50,23.15,9.70,53.78,53.17,55.78,1.0,10.91,...,36.21,35.00,0.00,71.45,71.64,0.0,NaN,0.0,NaN,NaN
18,21/03/2017 15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,21/03/2017 21:00,21/03/2017 21:08,10.00,11.21,10.30,68.94,48.62,45.15,1.0,12.41,...,78.97,60.60,0.00,61.88,82.39,1.0,81.89,0.0,NaN,NaN

In [4]:
print(df.shape)
print(df.isna().sum())
print(df.columns)

(1235, 27)
SentAt             0
StartedAt        691
Control          691
Sad              691
Intrusion        691
Encourage        691
FunThings        691
IgotThis         691
Company          691
Alone            691
Thoughts         691
Safe             691
Appointments     691
Cancel           691
Laying           691
Sleep            691
Qualitysleep    1072
Out              691
Eaten            691
Avoid            691
Useful           691
Enjoy            691
Pleas            691
Pleasant        1076
Unpl             691
Unpleasant      1211
Remarks         1087
dtype: int64
Index(['SentAt', 'StartedAt', 'Control', 'Sad', 'Intrusion', 'Encourage',
       'FunThings', 'IgotThis', 'Company', 'Alone', 'Thoughts', 'Safe',
       'Appointments', 'Cancel', 'Laying', 'Sleep', 'Qualitysleep', 'Out',
       'Eaten', 'Avoid', 'Useful ', 'Enjoy', 'Pleas', 'Pleasant', 'Unpl',
       'Unpleasant', 'Remarks'],
      dtype='object')

In [5]:
df = df.drop(columns = ['StartedAt', 'Qualitysleep', 'Pleasant', 'Unpleasant', 'Remarks'])

In [6]:
#drop all observations hich have all missing except for SentAt
to_drop =  ['Control', 'Sad', 'Intrusion', 'Encourage',
       'FunThings', 'IgotThis', 'Company', 'Alone', 'Thoughts', 'Safe',
       'Appointments', 'Cancel', 'Laying', 'Sleep', 'Out',
       'Eaten', 'Avoid', 'Useful ', 'Enjoy', 'Pleas', 'Unpl']

df = df.dropna(subset = to_drop, how = 'any', axis=0)

In [7]:
#make idvar
df['id_var'] = 1
#make date
df['Date'] = pd.to_datetime(df['SentAt'], format = '%d/%m/%Y %H:%M')
#get the date and hour
df['Date_2'] = [d.strftime("%x") for d in df['Date']]
df['Hour'] = [d.strftime("%H") for d in df['Date']]
#make the beepvar required for graphicalvar
df['first_obs'] = [1 if (x == '09' or x == '10') else 0 for x in df['Hour']]
df['second_obs'] = [2 if (x == '15' or x == '16') else 0 for x in df['Hour']]
df['third_obs'] = [3 if (x == '21' or x == '22') else 0 for x in df['Hour']]
df['beep_var'] = df['first_obs'] + df['second_obs'] + df['third_obs']
#order by date
df = df.sort_values(by='Date')

In [8]:
#make day_var
day_var = pd.DataFrame(pd.date_range(df['Date'].min(), df['Date'].max()))
day_var.columns = ['Date_Range']
day_var['day_var'] = [d.strftime("%x") for d in day_var['Date_Range']]
day_var = day_var.drop('Date_Range', axis = 1).reset_index()
df = df.merge(day_var, how = 'left', left_on = 'Date_2', right_on = 'day_var')

In [9]:
#clean by dropping unnecessary columns and renaming columns
df = df.drop(['first_obs', 'second_obs', 'third_obs', 'day_var'], axis = 1)
#rename index to day_var
df = df.rename(columns = {'index': 'day_var'})
#because R doesn't start from -
df['day_var'] = df['day_var']  + 1

In [15]:
df['consecutive'] = df['day_var'].diff()

In [16]:
df['consecutive'].value_counts()

1.0    271
0.0    215
2.0     43
3.0      9
4.0      3
6.0      1
5.0      1
Name: consecutive, dtype: int64

In [14]:
check = df['consecutive'] > 1
check.sum()

57

In [17]:
df[df['consecutive'] > 1]

,SentAt,Control,Sad,Intrusion,Encourage,FunThings,IgotThis,Company,Alone,Thoughts,...,Enjoy,Pleas,Unpl,id_var,Date,Date_2,Hour,beep_var,day_var,consecutive
26,28/03/2017 09:00,17.73,19.04,30.88,70.54,57.09,40.02,0.0,13.22,10.10,...,56.69,0.0,0.0,1,2017-03-28 09:00:00,03/28/17,09,1,13,2.0
139,19/05/2017 15:00,16.01,14.87,12.13,87.55,53.60,70.69,0.0,25.35,10.31,...,73.36,1.0,0.0,1,2017-05-19 15:00:00,05/19/17,15,2,65,2.0
141,26/05/2017 15:00,8.76,18.85,3.87,81.54,62.89,69.61,0.0,8.15,6.31,...,72.67,0.0,0.0,1,2017-05-26 15:00:00,05/26/17,15,2,72,6.0
143,29/05/2017 15:00,11.21,12.43,12.73,69.31,57.99,60.44,0.0,19.16,10.90,...,39.34,0.0,0.0,1,2017-05-29 15:00:00,05/29/17,15,2,75,3.0
172,13/06/2017 09:00,5.70,5.39,18.24,69.00,71.45,66.56,1.0,15.49,4.78,...,79.40,0.0,0.0,1,2017-06-13 09:00:00,06/13/17,09,1,90,2.0
211,04/07/2017 09:00,29.86,11.51,9.98,74.51,50.04,50.65,0.0,17.63,9.37,...,68.09,0.0,0.0,1,2017-07-04 09:00:00,07/04/17,09,1,111,2.0
219,10/07/2017 15:00,46.68,43.01,47.29,64.73,19.46,35.98,0.0,51.26,55.55,...,13.35,0.0,0.0,1,2017-07-10 15:00:00,07/10/17,15,2,117,2.0
225,15/07/2017 21:00,13.65,16.40,13.35,68.39,70.84,56.77,0.0,15.49,15.18,...,51.57,0.0,0.0,1,2017-07-15 21:00:00,07/15/17,21,3,122,3.0
231,21/07/2017 15:00,13.96,11.21,13.96,71.45,55.85,46.68,0.0,12.12,8.45,...,32.92,0.0,0.0,1,2017-07-21 15:00:00,07/21/17,15,2,128,2.0
232,24/07/2017 09:00,9.98,21.90,12.43,63.80,25.88,43.01,1.0,16.40,3.87,...,33.84,0.0,0.0,1,2017-07-24 09:00:00,07/24/17,09,1,131,3.0
240,29/07/2017 09:00,18.24,20.69,20.69,67.47,53.10,49.43,1.0,12.73,16.71,...,70.84,0.0,0.0,1,2017-07-29 09:00:00,07/29/17,09,1,136,2.0
278,23/08/2017 15:00,15.79,10.29,7.23,67.78,41.48,46.07,0.0,4.17,6.01,...,43.92,0.0,0.0,1,2017-08-23 15:00:00,08/23/17,15,2,161,2.0
281,26/08/2017 15:00,14.26,12.73,10.29,64.11,56.16,50.04,1.0,7.84,8.76,...,57.99,1.0,0.0,1,2017-08-26 15:00:00,08/26/17,15,2,164,2.0
289,01/09/2017 15:00,34.75,18.85,23.74,64.11,20.99,56.46,0.0,29.86,31.09,...,28.33,0.0,0.0,1,2017-09-01 15:00:00,09/01/17,15,2,170,2.0
301,10/09/2017 15:00,48.51,30.17,6.31,69.00,24.35,47.29,1.0,0.00,9.06,...,25.58,0.0,0.0,1,2017-09-10 15:00:00,09/10/17,15,2,179,2.0
309,17/09/2017 09:00,25.89,17.63,30.47,78.48,53.71,47.60,1.0,95.61,16.40,...,49.74,0.0,0.0,1,2017-09-17 09:00:00,09/17/17,09,1,186,2.0
314,22/09/2017 09:00,25.27,16.40,29.86,76.95,49.12,34.45,1.0,56.77,9.06,...,62.89,0.0,0.0,1,2017-09-22 09:00:00,09/22/17,09,1,191,2.0
332,04/10/2017 09:00,59.22,54.63,61.05,42.09,6.31,23.44,0.0,38.73,52.18,...,29.25,0.0,0.0,1,2017-10-04 09:00:00,10/04/17,09,1,203,2.0
367,26/10/2017 15:00,15.72,56.54,20.99,63.77,29.74,19.94,0.0,19.64,33.19,...,28.98,0.0,0.0,1,2017-10-26 15:00:00,10/26/17,15,2,225,2.0
375,02/11/2017 09:00,13.31,42.23,13.62,69.94,22.65,35.60,1.0,12.11,17.38,...,45.09,0.0,0.0,1,2017-11-02 09:00:00,11/02/17,09,1,232,2.0
382,10/11/2017 10:00,36.51,62.41,40.42,67.68,16.03,17.08,0.0,35.80,47.35,...,39.52,0.0,0.0,1,2017-11-10 10:00:00,11/10/17,10,1,240,3.0
384,12/11/2017 16:00,39.82,44.94,36.96,62.71,13.31,8.72,0.0,38.92,57.44,...,21.75,0.0,0.0,1,2017-11-12 16:00:00,11/12/17,16,2,242,2.0
392,18/11/2017 10:00,71.60,70.84,73.40,70.84,12.41,8.49,1.0,68.74,63.62,...,27.77,0.0,0.0,1,2017-11-18 10:00:00,11/18/17,10,1,248,2.0
395,21/11/2017 10:00,44.34,75.96,45.99,66.63,19.23,9.70,1.0,55.78,53.98,...,53.37,0.0,0.0,1,2017-11-21 10:00:00,11/21/17,10,1,251,2.0
398,24/11/2017 10:00,44.34,72.20,40.27,77.77,47.05,12.11,1.0,63.31,37.56,...,29.88,0.0,0.0,1,2017-11-24 10:00:00,11/24/17,10,1,254,2.0
413,05/12/2017 22:00,63.62,86.81,83.80,60.90,11.06,7.22,1.0,70.24,70.09,...,12.71,0.0,0.0,1,2017-12-05 22:00:00,12/05/17,22,3,265,2.0
415,08/12/2017 10:00,62.41,60.90,60.00,17.83,28.22,15.57,0.0,55.48,43.74,...,23.65,0.0,0.0,1,2017-12-08 10:00:00,12/08/17,10,1,268,2.0
426,18/12/2017 22:00,58.19,39.22,24.46,70.84,40.27,38.31,1.0,26.27,60.30,...,28.98,1.0,0.0,1,2017-12-18 22:00:00,12/18/17,22,3,278,3.0
430,25/12/2017 16:00,19.64,49.46,15.72,74.76,26.79,26.57,1.0,19.64,53.68,...,29.43,0.0,0.0,1,2017-12-25 16:00:00,12/25/17,16,2,285,5.0
431,27/12/2017 22:00,15.72,44.04,15.87,79.28,38.31,25.51,0.0,16.33,44.04,...,39.82,0.0,0.0,1,2017-12-27 22:00:00,12/27/17,22,3,287,2.0
433,01/01/2018 16:00,17.68,51.45,13.01,80.18,20.84,17.53,1.0,16.03,44.49,...,41.78,1.0,0.0,1,2018-01-01 16:00:00,01/01/18,16,2,292,4.0
437,05/01/2018 16:00,25.66,60.60,25.96,64.52,51.72,39.82,0.0,15.72,28.37,...,39.07,0.0,0.0,1,2018-01-05 16:00:00,01/05/18,16,2,296,3.0
447,15/01/2018 16:00,22.35,50.36,28.68,77.92,42.23,24.31,0.0,19.64,67.23,...,45.69,0.0,0.0,1,2018-01-15 16:00:00,01/15/18,16,2,306,4.0
453,21/01/2018 16:00,35.30,45.54,33.19,64.06,47.35,13.31,1.0,22.95,42.08,...,27.62,0.0,0.0,1,2018-01-21 16:00:00,01/21/18,16,2,312,3.0
460,27/01/2018 16:00,40.12,54.58,34.55,72.50,26.72,19.64,0.0,46.60,65.12,...,19.19,0.0,0.0,1,2018-01-27 16:00:00,01/27/18,16,2,318,3.0
462,29/01/2018 22:00,14.07,33.49,14.67,74.01,21.15,29.13,0.0,14.22,41.03,...,36.21,0.0,0.0,1,2018-01-29 22:00:00,01/29/18,22,3,320,2.0
464,01/02/2018 16:00,28.68,11.51,16.63,63.77,31.09,10.15,1.0,13.31,19.64,...,27.02,1.0,0.0,1,2018-02-01 16:00:00,02/01/18,16,2,323,2.0
465,03/02/2018 16:00,17.08,36.96,19.94,78.07,27.77,24.76,0.0,11.96,23.86,...,40.42,0.0,0.0,1,2018-02-03 16:00:00,02/03/18,16,2,325,2.0
470,09/02/2018 10:00,54.28,23.40,63.92,67.38,10.75,12.56,1.0,72.05,65.12,...,17.83,0.0,0.0,1,2018-02-09 10:00:00,02/09/18,10,1,331,2.0
476,14/02/2018 10:00,16.47,34.40,44.04,78.83,48.10,28.07,0.0,12.11,10.60,...,75.96,0.0,0.0,1,2018-02-14 10:00:00,02/14/18,10,1,336,2.0
478,16/02/2018 16:00,50.06,15.27,30.18,75.36,57.89,44.94,1.0,61.21,17.83,...,56.84,1.0,0.0,1,2018-02-16 16:00:00,02/16/18,16,2,338,2.0
481,19/02/2018 10:00,21.45,27.17,51.12,90.12,51.27,35.30,0.0,85.30,20.99,...,68.74,0.0,0.0,1,2018-02-19 10:00:00,02/19/18,10,1,341,2.0
484,22/02/2018 22:00,48.25,27.17,46.30,75.81,21.75,24.76,0.0,28.83,53.22,...,31.24,0.0,0.0,1,2018-02-22 22:00:00,02/22/18,22,3,344,3.0
485,24/02/2018 16:00,20.84,24.76,48.86,86.81,30.78,32.59,0.0,16.03,19.94,...,41.33,1.0,0.0,1,2018-02-24 16:00:00,02/24/18,16,2,346,2.0
488,28/02/2018 16:00,48.25,33.19,52.47,51.27,22.65,20.84,0.0,35.60,34.70,...,29.28,0.0,0.0,1,2018-02-28 16:00:00,02/28/18,16,2,350,2.0
490,02/03/2018 22:00,39.67,35.45,49.91,76.57,21.75,19.34,0.0,22.20,27.02,...,28.83,1.0,0.0,1,2018-03-02 22:00:00,03/02/18,22,3,352,2.0
492,05/03/2018 22:00,19.64,26.27,15.12,81.09,14.52,41.33,0.0,10.00,17.23,...,45.84,0.0,0.0,1,2018-03-05 22:00:00,03/05/18,22,3,355,2.0
499,13/03/2018 10:00,60.00,30.48,60.90,80.78,13.62,15.12,0.0,81.39,51.87,...,30.63,0.0,0.0,1,2018-03-13 10:00:00,03/13/18,10,1,363,2.0
505,19/03/2018 10:00,14.82,31.39,26.12,78.98,39.53,34.70,0.0,14.82,15.12,...,60.90,0.0,0.0,1,2018-03-19 10:00:00,03/19/18,10,1,369,2.0
526,05/04/2018 10:00,17.98,31.99,29.88,74.16,19.79,21.75,1.0,17.53,12.71,...,48.85,0.0,0.0,1,2018-04-05 10:00:00,04/05/18,10,1,386,2.0
528,08/04/2018 16:00,58.49,45.24,60.60,65.72,9.85,15.12,0.0,52.02,23.56,...,19.94,0.0,0.0,1,2018-04-08 16:00:00,04/08/18,16,2,389,2.0
530,10/04/2018 22:00,64.52,41.93,32.89,75.06,9.70,11.36,0.0,44.94,53.07,...,12.41,0.0,0.0,1,2018-04-10 22:00:00,04/10/18,22,3,391,2.0
535,15/04/2018 10:00,55.78,30.33,58.49,77.47,28.53,14.82,0.0,51.12,52.47,...,20.69,0.0,0.0,1,2018-04-15 10:00:00,04/15/18,10,1,396,2.0
538,17/04/2018 22:00,55.18,37.11,57.59,73.86,16.48,20.69,1.0,89.52,56.99,...,32.29,1.0,0.0,1,2018-04-17 22:00:00,04/17/18,22,3,398,2.0
540,20/04/2018 16:00,43.43,33.49,41.03,85.00,31.24,31.39,1.0,87.41,40.42,...,44.94,1.0,0.0,1,2018-04-20 16:00:00,04/20/18,16,2,401,2.0
542,25/04/2018 22:00,20.84,43.43,18.59,70.54,21.00,8.34,0.0,20.24,13.92,...,27.17,1.0,0.0,1,2018-04-25 22:00:00,04/25/18,22,3,406,4.0
543,27/04/2018 16:00,27.17,45.24,25.66,78.22,33.49,32.89,0.0,20.69,33.95,...,49.16,1.0,0.0,1,2018-04-27 16:00:00,04/27/18,16,2,408,2.0

In [19]:
df['day_var'].head(50)

0      1
1      2
2      2
3      3
4      3
5      3
6      4
7      4
8      5
9      5
10     5
11     6
12     6
13     7
14     7
15     8
16     8
17     9
18     9
19     9
20    10
21    10
22    10
23    11
24    11
25    11
26    13
27    13
28    13
29    14
30    14
31    14
32    15
33    15
34    15
35    16
36    16
37    17
38    17
39    18
40    18
41    19
42    19
43    19
44    20
45    20
46    20
47    21
48    21
49    22
Name: day_var, dtype: int64

In [ ]:
print(df.shape)
print(df.isna().sum().sum())
print(df.columns)

In [ ]:

#first = 16/03/2017
#last = 27/04/2018
# just over a year in scope
# note that we have 544 obs but not evenly spaces out

In [ ]:
df.head()